{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="#ff87ad">
    
    <h1><u>ADBMS</u></h1>
    <h3>
     Advanced Database Management System (ADBMS) builds on the basics <br>
      of traditional database management by introducing more complex  <br>
      features and technologies. It covers topics like distributed databases, <br>
       object-oriented databases, data warehousing, and big data management. ADBMS <br>
        also deals with advanced query processing, transaction management, and database <br>
        security. This subject helps students understand how to handle large-scale, complex <br>
         data systems efficiently and securely in modern applications.
    </h3>
    </body>

</html>
{% endblock %}