{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="pink">
    
    <h1><u>AFM</u></h1>
    <h3>
        Accounting and Finance Management involves the systematic <br>
        recording, analyzing, and reporting of financial transactions <br>
        of a business or organization. Accounting focuses on tracking income, <br>
         expenses, assets, and liabilities to provide accurate financial information. <br>
         Finance management uses this data to plan, control, and make decisions about <br>
         the allocation of resources, investments, budgeting, and risk management. Together, <br>
         they ensure the financial health and sustainability of an organization.
    </h3>
    </body>

</html>
{% endblock %}