{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="skyblue">
    
    <h1><u>COOR</u></h1>
    <h3>
      Computer Organization part deals with understanding the hardware <br>
      structure of computers — how CPUs, memory, and peripherals work together <br>
      to perform tasks. It covers instruction execution, data paths, control units, <br>
      and hardware components. <br>

Operational Research part focuses on applying mathematical and analytical methods to <br>
solve decision-making and optimization problems in computer science and management. <br>
It includes topics like linear programming, queuing theory, and simulation to improve <br>
efficiency and resource use. <br>

Together, COOR teaches students both the technical foundation of computers and the analytical <br>
 tools to optimize systems and processes
    </h3>
    </body>

</html>
{% endblock %}