{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="#ff87ad">
    
    <h1><u>DCCN</u></h1>
    <h3>
      DCCN (Data Communication and Computer Networks) is a subject that <br>
       deals with the principles and techniques of transmitting data between <br>
       computers and devices over various types of networks. It covers topics <br>
       like network architecture, protocols, transmission media, switching techniques, <br>
       and network security. Understanding DCCN is essential for designing, implementing, <br>
        and managing efficient and secure communication networks, such as the internet and local <br>
        area networks (LANs).
    </h3>
    </body>

</html>
{% endblock %}