{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="#ff87ad">
    
    <h1><u>E-Commers</u></h1>
    <h3>
     AE-commerce (Electronic Commerce) refers to buying and selling <br>
      goods and services over the internet. It allows businesses and <br>
       consumers to conduct transactions online, making shopping faster <br>
       and more convenient. E-commerce includes various models like B2B  <br>
       (business-to-business), B2C (business-to-consumer), and C2C  <br>
       (consumer-to-consumer). It involves technologies like online payment <br>
       systems, digital marketing, and supply chain management, transforming  <br>
       traditional retail and business operations.
    </h3>
    </body>

</html>
{% endblock %}