{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="lightgreen">
    
    <h1><u>Home Page </u></h1>
    <h3>MCA (Master of Computer Applications) is a postgraduate degree program <br>
         in computer science and applications. It typically spans 2 to 3 years, <br>
         depending on the country and university. The course is designed to provide <br>
          in-depth knowledge of areas like software development, computer networks, <br>
          database management, web technologies, and programming languages. <br>
           MCA is ideal for students who want to pursue careers as software developers, <br>
            system analysts, data scientists, or IT consultants. It combines both theoretical <br>
             knowledge and practical training to prepare students for the IT industry.
</h3>
</body>

</html>
{% endblock %}