{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="lightgray">
    
    <h1><u>Java </u></h1>
    <h3>
       Java is a popular, high-level, object-oriented programming <br>
       language developed by Sun Microsystems (now owned by Oracle) <br>
       in the mid-1990s. It is designed to be platform-independent, <br>
        meaning that Java programs can run on any device with a Java Virtual Machine (JVM). <br>
         Java is widely used for building web applications, mobile apps (especially Android), <br>
         enterprise software, and large-scale systems. Its features like robustness, security, <br>
         and portability make it a preferred choice for developers worldwide.
    </h3>
    </body>

</html>
{% endblock %}