{% load static %}

<html><head>
<link rel="stylesheet"  href="{% static '/css/homecss.css' %}"> 
</head><body>
<div class="navbar">
  <a href="{% url 'home' %}">Home</a>
<!--   <a href="#">Frames</a>    -->
<div class="dropdown">
  <button class="dropbtn">Sem-1</button>
       <div class="dropdown-content">
  	<a href="{% url 'dms' %}">Dms</a>
 	<a href="{% url 'java' %}">Java</a>
	<a href="{% url 'os' %}">Os</a>
 	<a href="{% url 'co' %}">Co</a>
 	<a href="{% url 'afm' %}">Afm</a>
        </div> </div>



   <div class="dropdown">
  <button class="dropbtn">Sem-2</button>
       <div class="dropdown-content">
  	<a href="{% url 'coor' %}">Coor</a>
 	<a href="{% url 'dccn' %}">Dccn</a>
	<a href="{% url 'adbms' %}">Adbms</a>
	<a href="{% url 'dsa' %}">Ds with Java</a>
	<a href="{% url 'ecommers' %}">E-commerce</a>
        </div> </div>

<div class="dropdown">
  <button class="dropbtn">Sem-3</button>
       <div class="dropdown-content">
  	<a href="#">Sub-1</a>
 	<a href="#">Sub-2</a>
	<a href="#">Sub-3</a>
	<a href="#">Sub-4</a>
	<a href="#">Sub-5</a>
        </div> </div>
<div class="dropdown">
  <button class="dropbtn">sem-4</button>
       <div class="dropdown-content">
  	<a href="#">Sub-1</a>
 	<a href="#">Sub-2</a>
	<a href="#">Sub-3</a>
	<a href="#">Sub-4</a>
	<a href="#">Sub-5</a>
        </div> </div>

	<div class="login" >
	<a href="#login.html">Login</a>
	</div>
</div>
{% block content %}

{% endblock %}
</body>
</html>