{% extends 'master.html' %}

{% block content %}

<html>
<body bgcolor="lightpink">
    
    <h1><u>OS </u></h1>
    <h3>
       An Operating System (OS) is system software that acts as an <br>
        interface between computer hardware and the user. It manages <br>
        computer resources like the CPU, memory, storage, and input/output <br>
        devices, allowing multiple programs to run efficiently and securely. <br>
         Common OS examples include Windows, Linux, and macOS. The OS handles <br>
         tasks such as process management, file management, memory management, <br>
         and device control, making it essential for the smooth functioning of a computer system.
    </h3>
    </body>

</html>
{% endblock %}