body {   font-family: Arial, Helvetica, sans-serif; }

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  
}


